.admin-post-widget {
  width: 900px;
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: white;
  .user {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    .pic {
      position: relative;
      width: 300px;
      height: 260px;
      .type {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 4px 8px;
        background-color: orangered;
        border-radius: 5px;
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }
      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }
    }
    .info {
      flex-grow: 1;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-left: 5px;
      display: flex;
      padding: 10px;
      flex-direction: column;
      height: 240px;
      background-color: #eee;
      .discription {
        width: 100%;
        display: flex;
        flex-direction: column;
        .buliding-info {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
        }
      }
    }
    .line {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: orangered;
        .icn {
          font-size: 14px;
          width: 20px;
        }
        p {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
    .price-call {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        color: orangered;
      }
      button {
        width: 100px;
        background-color: orangered;
        color: white;
        padding: 5px;
        border: 1px solid orangered;
        font-weight: bold;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
      }
    }
    .admin {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 210px;
      position: absolute;
      bottom: 5px;
      right: 10px;
      button {
        border-radius: 5px;
        padding: 5px 10px;
        border: 1px solid;
        cursor: pointer;
        width: 100px;
        font-size: 13px;
      }
      .del {
        background-color: rgb(145, 2, 2);
        color: white;
        border-color: rgb(145, 2, 2);
      }
      .edt {
        background-color: indigo;
        color: white;
        border-color: indigo;
      }
    }
  }
}
