.singup{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../public/assets/images/dillon-kydd-2keCPb73aQY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
    }
    form{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 30px;
        }
        div{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 5px;
            label{
                font-size: 13px;
            }
            input{
                position: relative;
                background-color: #dddddd;
                padding: 10px;
                margin: 5px 0;
                border-radius: 5px;
                border: none;
                outline: none;
                width: 250px;
            }
            p{
                position:absolute;
                color: red;
                font-size: 11px;
                bottom:-19px;
                right: 0;
                display: none;
            }
            .reset-password{
                color: white;
                font-size: 10px;
                margin-top: 10px;
            }
            .password{
                position: relative;
                .show-hide-pass{
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 100%;
                    cursor: pointer;
                    .show, .hide{
                        position: absolute;
                        width: 20px;
                        color: rgb(167, 167, 167);
                    }
                    .show{
                        display: none;
                    }
                }
            }
            .submit{
                margin-top: 20px;
                width: 270px;
                background-color: royalblue;
                color: white;
                font-weight: bold;
                font-size: 16px;
                cursor: pointer;
            }
            
        }
    }
    .space{
        width: 270px;
        position: relative;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .line{
            height: 2px;
            width: 100%;
            background-color: silver;
            z-index: 1;
        }
        .text{
            margin-top: 5px;
            font-size: 12px;
            color: silver;
            padding-inline: 6px;
        }
    }
    .links{  
        margin-top: 20px;
        width: 270px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        button{
            width: 50px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            cursor: pointer;
            .icon{
                color: white;
                width: 14px;
                height: 14px;
            }
        }
    }
    .goto-login{
        width: 270px;
        text-align: center;
        position: relative;
        color: white;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        span{
            .link{
                font-weight: bold;
                color: royalblue;
                text-decoration: none;
            }
        }
    }
}